
@font-face {
    font-family: TradeGothicLTStd;
    src: url(../fonts/TradeGothicLTStd.otf);
}
@font-face {
    font-family: TradeGothicLTStd-Bd2;
    src: url(../fonts/TradeGothicLTStd-Bd2.otf);
}
body{
    font-family: TradeGothicLTStd;
}

strong{
    font-family: TradeGothicLTStd-Bd2;
}

body{
    height: 100%;
}

footer{
    background-color: #01573E;
    color: #A0A0A0;
    font-size: 13px;
    padding: 20px 10px;
    width: 100%;
    bottom: 0;
}

ul, li{
    margin: 0;
    padding: 0;
}

/*#quality-policy img.fabric, #our-company img.fabric, #env-responsability img.fabric{*/
    /*width: 100%;*/
/*}*/

#our-company .container li:before, #quality-policy .container li:before{
    content: url('../images/BULLETS-06-small.png');
    vertical-align: text-top;
    padding-right: 5px;
}

#quality-policy .container li, #our-company .container li{
    list-style: none;
}

#map_of_BA, #map_of_SM, #map_fa_SL{
    width: 500px;
    height: 400px;
}

.sub-navbar{
    position: fixed;
    background: white;
    left: 25%;
    right: 25%;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    min-height: 50px;
    top: 101px;
}
.sub-navbar .nav > li{
    display: inline-block;
}

.navbar{
    margin-bottom: 0;
    background-color: white;
    position: fixed;
    z-index: 1000;
    width: 100%;
}
.navbar-nav > li > a{
    padding: 0 2px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 15px;
}

.navbar-nav > li > a:hover, .navbar-nav > li > a:focus, .navbar-nav > li > a:active {
    border-bottom: 3px solid #e6e533 ;
}

.navbar-brand{
    height: 80px;
    padding: 0;
}

.navbar-brand img{
    width: 100%;
}

@media (min-width: 768px){
    .navbar-default .navbar-nav > li > a {
        font-size: 10px;
    }
}

.navbar-nav > li > a.btn-download, .navbar-default .navbar-nav > li > a.btn-download:hover {
    background: #01573E;
    padding: 2px 20px !important;
    color: white !important;
    font-size: 10px !important;
    margin-top: 0;
    border-bottom: 0 solid transparent;
}


.navbar-default .navbar-nav > li > a, .dropdown-menu > li > a{
    text-transform: uppercase;
    color: #A0A0A0;
    font-size: 12px;
    cursor: pointer;
}
.dropdown-menu > li > a{
    color: #000000;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus{
    background-color: white;
    color: #01573E;
    outline: none;
    border-bottom: 3px solid transparent;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: #eee;
    border-color: #e6e533;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{
    color: #01573E;
    cursor: pointer;
}

.navbar-default .navbar-nav > li > a:hover{
    color: #01573E;
}


#products .green-panel img{
    width: 100%;
}

#products .green-panel{
    padding: 0 0 20px 0;
}

#products .green-panel p{
    margin-top: 20px;
}


.green-panel{
    background-color: #01573E;
    color: #A0A0A0;
    padding: 10px;
    font-size: 14px;
    text-transform: uppercase;
    text-align: justify;
}

h1.green-label{
    font-size: 20px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #01573E;
    font-weight: normal;
    width: 20%;
    padding: 10px 10px 10px 5%;
    text-align: right;
}

.products{
    text-align: center;
}

.contact{
    background-color: #A0A0A0;
    color: #01573E;
    padding-bottom: 10px;
}

.contact label{
    font-size: 18px;
}

.contact .btn{
    background-color: #01573E ;
    color: #A0A0A0;
    border-color: #A0A0A0;
    font-size: 18px;
}
.contact h1{
    font-size: 20px;
    text-transform: uppercase;
    color: #A0A0A0;
    background-color: white;
    font-weight: normal;
    width: 20%;
    padding: 10px 10px 10px 5%;
    text-align: right;
}

.contact-companies{
    background-color: white;
    color: #A0A0A0;
}

.contact-companies p{
    text-transform: uppercase;
    margin: 0;
    font-size: 12px;
    text-align: justify;
}

.contact-companies p:first-child{
    margin: 10px 0;
}

.history{
    background-color: #A0A0A0;
    color: white;
    text-align: justify;
}


.history h1{
    color: #A0A0A0;
    background-color: white;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: normal;
    padding: 10px 0 10px 30px;
    width: 20%;

}

#quality-policy img{
    width: 100%;
}

.quality-policy .fa{
    padding-right: 10px;
}
#quality-policy .quality-policy img{
    width: auto;
}

.mision{
    background-color: white;
    color: #01573E;
    text-align: justify;
}

.mision h1{
    color: #ffffff;
    background-color: #01573E;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: normal;
    padding: 10px 0 10px 30px;
    width: 20%;

}
.values{
    background-color: #01573E;
    color: #A0A0A0;
    text-align: justify;
}

.values h1{
    color: #01573E;
    background-color: #A0A0A0;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: normal;
    padding: 10px 0 10px 30px;
    width: 20%;

}

.env-responsability, .quality-policy{
    color: #01573E;
    background-color: white;
    margin-bottom: 10px;
}

.submenu ul{
    border-top: 2px solid #01573E;
    border-bottom: 2px solid #01573E;
    padding: 0 10px;
    text-align: center;
    text-transform: uppercase;
}

.submenu li{
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
    letter-spacing: 1px;
    font-weight: bold;
}

.submenu li a{
    color: #01573E;
    text-decoration: none;
}

.submenu li.active a{
    color: white;
}

.submenu li.active{
    background-color: #01573E;
}

.acustica, .acustica:hover, .termica, .termica:hover, .fachada, .fachada:hover{
    width:150px;
    height:150px;
    margin: 0 65px;
}

.acustica{
    background: transparent url("../images/ACUSTICA-VERDE-02-chico.png");
}
.acustica:hover, .acustica.active{
    background: transparent url("../images/ACUSTICA-AMARILLO-02-chico.png");
}
.termica{
    background: transparent url("../images/TERMICA-VERDE-01-chico.png");
}
.termica:hover, .termica.active{
    background: transparent url("../images/TERMICA-AMARILLO-01-chico.png");
}
.fachada{
    background: transparent url("../images/FACHADAS-VERDE-03-chico.png");
}
.fachada:hover, .fachada.active{
    background: transparent url("../images/FACHADAS-AMARILLO-03-chico.png");
}

.panel-default > .panel-heading {
    color: white;
    background-color: #01573E;
}

#products .icon-products{
    margin-top: 15px;
}

.icon-products{
    margin-bottom: 15px;
}


.side-menu{
    width: 220px;
    position: fixed;
    top: 81px;
    margin: 0px;
    background-color: #01573E;
    z-index: 1000;
    color: white;
    box-shadow: black 1px 1px 1px;
}
.side-menu ul, .side-menu ul li{
    list-style: none;
}

.fa-angle-double-left{
    float: right;
    margin-right: 20px;
    margin-top: 10px;
    font-size: 25px;
    border: white solid;
    padding: 5px;
    border-radius: 13px;
    cursor: pointer;
}

.gray-panel{
    background-color: #f8f8f8
}
.gray-panel.icon-products{
    margin-top: 81px;
    margin-bottom: 0;
}
.gray-panel img{
    width: 100px;
}

.product-menu{
    position: fixed;
    margin-top: 10px;

}

.product-menu a{
    display: block;
}

@media (min-width: 768px){
    .product-menu{
        width: 250px;
    }

}

.product-menu ul, .product-menu li{
    list-style: none;
}

.product-menu ul > li{
    border-bottom: solid 1px #d3d3d3;
}

.product-menu ul li {
    padding: 6px 0 5px 10px;
}

.product-menu ul li a{
    color:  #01573E;
}

.product-menu ul li a:hover{
    font-family: TradeGothicLTStd-Bd2;
    text-decoration: none;
    cursor: pointer;
}

.product-menu ul li a:hover .icon-menu:before{
    content: "\f107";
}

.product-container{
    padding: 10px 0 0 10px;
    text-align: center;
}

.product-container img{
    width: 100%;
    max-width: 900px;
}


.product-container .description{
    padding: 20px;
    text-align: justify;
    color: #01573E;
}




.product-content{
    margin-top: 81px;
}

.product-inner{
    margin-left: 250px;
    padding: 10px;
}

.product-inner img.product{
    max-width: 200px;
}

.product-inner ul, .product-inner li{
    list-style: none;
}

.product-inner ul.features li:before {
    content: url('../images/BULLETS-06-small.png');
    vertical-align: text-top;
    padding-right: 5px;
}

.product-inner ul.features ul li{
    padding-left: 20px;
}

.division{
    margin-bottom: 5px;
    padding-bottom: 10px;
    border-bottom: solid 1px #d3d3d3 ;
}

.title{
    color: #01573E;
    text-transform: capitalize;
    font-weight: bold;
}


.icon-menu{
    float: right;
    color: #bbb;
}

#media-cana-table{
    width: 60%;
    font-size: 12px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}


#media-cana-table th{
    text-transform: uppercase;
    text-align: center;

}

#sticky_navigation img{
    max-width: 150px;
}

#nav-menu{
    position: fixed;
    top: 91px;
    right: 25px;
    z-index: 9;
    text-shadow: none;
    font-size: 0.85em;
    background-color: #01573E;
    border-radius: 10px;
    background: rgba(1,87,52,0.7);
}

nav ul, nav ol, nav li {
    list-style: none;
    margin: 0;
    padding: 0;
}

#nav-menu li {
    display: inline;
    margin: 3px 5px;
    list-style: none;
}


#nav-menu a {
    color: white;
}

#nav-menu ul {
    -moz-border-radius: 17px;
    -webkit-border-radius: 17px;
    border-radius: 17px;
    margin: 10px;
}

.scroll-target{
    display: block;
    position: relative;
    top: -100px;
    visibility: hidden;
    float: left;
}

#aislacion-termica .product-content{
    margin-top: 10px;
}

#aislacion-termica footer{
    position: absolute;
    bottom: 0;
}


#lanaMineralId .product-inner, #benefcios .product-inner{
    margin-left: 0;
}

.underline{
    text-decoration: underline;
}




